<div class="nav-links">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active">
        Atelier
    </NavLink>
    <NavLink class="nav-link" href="/runs" ActiveClass="active">
        Runs
    </NavLink>
    <NavLink class="nav-link" href="/new" ActiveClass="active">
        New briefing
    </NavLink>
    <NavLink class="nav-link" href="/crew/templates" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Templates
    </NavLink>
    <NavLink class="nav-link" href="/crew/studio" ActiveClass="active">
        Crew Studio
    </NavLink>
    <NavLink class="nav-link" href="/crew/profiles/reviewers" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Reviewers
    </NavLink>
    <NavLink class="nav-link" href="/crew/profiles/executors" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Executors
    </NavLink>
    <NavLink class="nav-link" href="/crew/profiles/advisors" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Advisors
    </NavLink>
    <NavLink class="nav-link" href="/crew/profiles/grounding-providers" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Groundings
    </NavLink>
    <NavLink class="nav-link" href="/crew/profiles/finalizers" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Finalizer
    </NavLink>
    <NavLink class="nav-link" href="/crew/knowledge" ActiveClass="active">
        Knowledge Base
    </NavLink>
</div>
