<div class="nav-links">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active">
        Atelier
    </NavLink>
    <NavLink class="nav-link" href="/runs" ActiveClass="active">
        Runs
    </NavLink>
    <NavLink class="nav-link" href="/new" ActiveClass="active">
        New briefing
    </NavLink>
    <NavLink class="nav-link" href="/crew" Match="NavLinkMatch.Prefix" ActiveClass="active">
        Crew
    </NavLink>
    <NavLink class="nav-link" href="/crew/studio" ActiveClass="active">
        Crew Studio
    </NavLink>
</div>
