<a class="nav-brand" href="/" aria-label="Geef Atelier home">
    <div class="crest" aria-hidden="true">G</div>
    <div class="wordmark" aria-hidden="true">
        geef<span class="dot">.</span><span class="atelier">atelier</span>
    </div>
</a>
