@using Geef.Atelier.Core.Domain

<span class="severity @CssClass">
    <span class="mark" aria-hidden="true"></span>
    @Label
</span>

@code {
    [Parameter, EditorRequired] public FindingSeverity Severity { get; set; }

    string CssClass => Severity switch
    {
        FindingSeverity.Critical => "critical",
        FindingSeverity.Major    => "major",
        FindingSeverity.Minor    => "minor",
        FindingSeverity.Info     => "info",
        _                        => "info"
    };

    string Label => Severity switch
    {
        FindingSeverity.Critical => "critical",
        FindingSeverity.Major    => "major",
        FindingSeverity.Minor    => "minor",
        FindingSeverity.Info     => "info",
        _                        => "info"
    };
}
